.idea/
.vscode/
.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.env

data/raw_pdf/*.pdf
data/parsed/*
data/chunks/*
chroma_db/*
logs/*

!data/parsed/.gitkeep
!data/chunks/.gitkeep
!chroma_db/.gitkeep
!logs/.gitkeep
